<template>
    
    
    <a-row>
        <a-col :xs="24" :sm="24" :md="24" :lg="24" >

            <a-row>
                <a-col :xs="1" :sm="2" :md="4" :lg="4"></a-col>

                <a-col :xs="22" :sm="20" :md="16" :lg="16">

                    <h1>{{ post.title }}</h1>

                </a-col>

                <a-col :xs="1" :sm="2" :md="4" :lg="4"></a-col>
            </a-row>

            <a-row>
                <a-col :xs="1" :sm="2" :md="4" :lg="4"></a-col>

                <a-col :xs="22" :sm="20" :md="16" :lg="16">

                    <img
                    :src="post.image" style="max-width: 100%;"
                    />

                </a-col>

                <a-col :xs="1" :sm="2" :md="4" :lg="4"></a-col>
            </a-row>
            <br>
            <br>
            <a-row>
                <a-col :xs="1" :sm="2" :md="4" :lg="4"></a-col>

                <a-col :xs="22" :sm="20" :md="16" :lg="16" >

                    <div style="font-size: 1.2em;" v-html="post.content"></div>                    

                </a-col>

                <a-col :xs="1" :sm="2" :md="4" :lg="4"></a-col>
            </a-row>

        </a-col>
    </a-row>
    

</template>
<script>

    import axios from 'axios'

    export default {
        data() {
            return {
                post: [],
                post_id: null,
                url: null
            }
        },
        created() {
//    console.log('sssss');
    //console.log(this.$route.params.id);

            this.post_id = this.$route.params.id;
            this.url = 'http://backendportafoliob.herokuapp.com/api/post/' + this.post_id

            axios.get(this.url)
                    .then(response => {
                        console.log(response.data);
                        this.post = response.data;
                    });
        },
        methods: {

        }
    }
</script>
<style>

</style>
