<template>
    <div>
    <a-row v-for="tr in posts">
        <a-col :span="{ xs: 8, sm: 16, md: 24, lg: 32 }" :xs="24" :sm="24" :md="12" :lg="8" v-for="post in tr" >

            <a-card :title="post.title" :bordered="true" style="width: 90%; margin: 1em auto;" >
                <img
                    alt="example"
                    :src="post.image"
                    slot="cover"
                    />
                <a-divider type="horizontal" />
                <a-row >
                    <a-col :span="24" >
                        {{ post.title }}
                    </a-col>
                </a-row>
                <a-divider type="horizontal" />
                <a-row >
                    <a-col :span="24" >
                        <router-link :to="'/post/'+post.id">Ver noticia</router-link>
                    </a-col>
                </a-row>
            </a-card>
        </a-col>
    </a-row>
</div>
</template>
<script>

    import axios from 'axios'

//axios.defaults.baseURL = 'http://127.0.0.1:8000';
//axios.defaults.baseURL = 'http://localhost/mibportafoliodrupal';


    //axios.defaults.baseURL = 'http://localhost/mibportafoliodrupal/web';

    //axios.defaults.baseURL = 'http://backendportafoliob.herokuapp.com/api';

    export default {
        data() {
            return {
                posts: []
            }
        },
        created() {
//    console.log('sssss');
            axios.get('http://backendportafoliob.herokuapp.com/api/posts')
                    .then(response => {
                        console.log(response.data);
                        this.posts = response.data;
                        this.posts = this.chunkArrayInGroups(this.posts,3);
                        console.log(this.posts);
                    });
        },
        methods: {
            chunkArrayInGroups(arr, size) {
              var myArray = [];
              for(var i = 0; i < arr.length; i += size) {
                myArray.push(arr.slice(i, i+size));
              }
              return myArray;
            }
        }
    }
</script>
<style>

</style>
