<template>
    <div>
        <a-row>
            <a-col :xs="2" :sm="2" :md="3" :lg="6" ></a-col>
            <a-col :xs="20" :sm="20" :md="18" :lg="12" >
                <a-row>
                    <a-col :xs="1" :sm="1" :md="3" :lg="6" ></a-col>
                    <a-col :xs="24" :sm="12" :md="12" :lg="12" >
                        <h2 style="text-align: center;" >Registrarse</h2>
                    </a-col>
                    <a-col :xs="1" :sm="1" :md="3" :lg="6" ></a-col>
                </a-row>
                <a-form
                    :form="form"
                    @submit="signinSubmit"
                    >
                    <a-form-item
                        label="E-mail"
                        :label-col="{ span: 8 }"
                        :wrapper-col="{ span: 16}"
                        >
                        <a-input
                            v-decorator="[
                            'mail',
                            {
                            rules: [{
                            type: 'email', message: 'The input is not valid E-mail!',
                            }, {
                            required: true, message: 'Please input your E-mail!',
                            }]
                            }
                            ]"
                            />
                    </a-form-item>
                    <a-form-item
                        label="Nombre de usuario"
                        :label-col="{ span: 8 }"
                        :wrapper-col="{ span: 16 }"
                        >
                        <a-input
                            v-decorator="[
                            'name',
                            {rules: [{ required: true, message: 'Ingrese su nombre de usuario' }]}
                            ]"
                            />
                    </a-form-item>
                    <a-form-item
                        label="Password"
                        :label-col="{ span: 8 }"
                        :wrapper-col="{ span: 16 }"
                        >
                        <a-input
                            v-decorator="[
                            'pass',
                            { rules: [{ required: true, message: 'Please input your Password!' }] }
                            ]"
                            type="password"
                            >
                        </a-input>
                    </a-form-item>
                    <a-form-item
                        label="Confirmar password"
                        :label-col="{ span: 8 }"
                        :wrapper-col="{ span: 16 }"
                        >
                        <a-input
                            v-decorator="[
                            'pass',
                            { rules: [{ required: true, message: 'Please input your Password!' }] }
                            ]"
                            type="password"
                            >
                        </a-input>
                    </a-form-item>
                    
                    <a-form-item
                        label="Imagen"
                        :label-col="{ span: 8 }"
                        :wrapper-col="{ span: 16 }"
                        >
                        <a-upload
                            v-decorator="['image', {
                            getValueFromEvent: normFile,
                            }]"
                            name="logo"
                            list-type="picture"
                            action="http://localhost:8000/projects/uploadfile"
                            :customRequest="subirFoto"
                            >
                            <a-button>
                                <a-icon type="upload" /> Click to upload
                            </a-button>
                        </a-upload>
                    </a-form-item>
                    
                    <!--                    <a-form-item
                                            label="Gender"
                                            :label-col="{ span: 5 }"
                                            :wrapper-col="{ span: 12 }"
                                            >
                                            <a-select
                                                v-decorator="[
                                                'gender',
                                                {rules: [{ required: true, message: 'Please select your gender!' }]}
                                                ]"
                                                placeholder="Select a option and change input text above"
                                                @change="handleSelectChange"
                                                >
                                                <a-select-option value="male">
                                                    male
                                                </a-select-option>
                                                <a-select-option value="female">
                                                    female
                                                </a-select-option>
                                            </a-select>
                                        </a-form-item>-->
                    <a-form-item
                        :wrapper-col="{ span: 16, offset: 8 }"
                        >
                        <a-button
                            type="primary"
                            html-type="submit"
                            >
                            Submit
                        </a-button>
                    </a-form-item>
                </a-form>
            </a-col>
            <a-col :xs="2" :sm="2" :md="3" :lg="6" ></a-col>
        </a-row>
    </div>
</template>

<script>

    import axios from 'axios'

//    axios.defaults.baseURL = 'http://localhost/mibportafoliodrupal/web';
    axios.defaults.baseURL = 'http://localhost:8000';

    export default {
        name: 'Signin',
        props: {
            msg: String
        },
        methods: {
            signinSubmit: function (e) {
//                console.log(this.form.getFieldValue('email'))
//                console.log(this.form.getFieldValue('image'))
//                console.log(this.form.formItems)
//                console.log(this.form.getFieldsValue());

                e.preventDefault();
                
                this.storeUser(this.form.getFieldsValue());
            },
            storeUser: function (data) {
                var url = '/users/store';
                
//                var data = {email: 'test'};

                console.log(data);
                
                axios.
                    post(url, data)
                    .then(response => {
//                        this.getEmails(this.page);
                        console.log(response)
                    })
                    .catch(error => {
                        console.log(error.response.data);
                    });
            },
            normFile(e) {
                console.log('Upload event:', e);
        
//                this.photoHeaders['content-type'] = e.file.originFileObj.type;
//                this.photoHeaders['content-type'] = 'multipart/form-data';
//                this.photoHeaders['content-type'] = 'application/json';

//                return 's';
        
                if (Array.isArray(e)) {
                    return e;
                }
                return e && e.fileList;
            },
            subirFoto(e) {
                console.log('subir foto fn');
//                console.log(e.file);
                
                var data = new FormData();
//                let data = new FormData();

//                data.append("foto",file);
                data.append("foto",'s');
                
//                console.log('photoData');
//                console.log(file);
//                console.log(data);
//                return file;

                var url = '/projects/uploadfile';
                
//                var data = {email: 'test'};

//                console.log(data);
                
                axios.
                    post(url, e.file, {
                        'content-type': 'multipart/form-data'
                    })
                    .then(response => {
//                        this.getEmails(this.page);
                        console.log(response)
                    })
                    .catch(error => {
                        console.log(error.response.data);
                    });


                
            },
            photoData(file) {
                
                console.log('photoData');
                
                console.log(file);
                
//                var data = new FormData();
                let data = new FormData();

//                data.append("foto",file);
//                data.append("foto",'s');
                
//                console.log('photoData');
//                console.log(file);
//                return file;

                console.log(data);

                return data;
            }
        },
        data() {
            return {
//                form: {}
                photoHeaders: {
                    'content-type': 'multipart/form-data',
//                    'content-type': null,
//                    'Accept-Encoding': 'gzip, deflate',
//                    'Cache-Control': 'no-cache'
//                    'x-php-ob-level': '2'
                }
            }
        },
        beforeCreate() {
            this.form = this.$form.createForm(this);
        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
