<template>
    <div id="app">
        <!--    <img alt="Vue logo" src="./assets/logo.png">
            <HelloWorld msg="Welcome to Your Vue.js App"/>-->

        <a-layout id="components-layout-demo-custom-trigger">

            <a-drawer
                title="Basic drawer"
                :placement="placement"
                :closable="false"
                @close="onClose"
                :visible="visible"
                >

                <a-row type="flex" >
                    <a-col :span="24" style="text-align: center;"  >
                        <a-avatar shape="square" :size="64" icon="user" />
                        <!--s-->
                    </a-col>
                </a-row>

                <br />

                <p>

                    <router-link to="/home">
                        <a-icon type="home" /> Inicio
                    </router-link>
                    
                </p>

                <p>

                    <router-link to="/signin">
                        <a-icon type="signin" /> Registrarse
                    </router-link>
                    
                </p>

                <br><br><br><br>

                <p>Some contents...</p>
                <p>Some contents...</p>
                <p>Some contents...</p>
            </a-drawer>

            <a-layout>
                <a-layout-header style="background: #fff; padding: 0">
                    <!--        <a-icon
                              class="trigger"
                              :type="collapsed ? 'menu-unfold' : 'menu-fold'"
                              @click="showDrawer"
                            />-->
                    <a-menu
                        v-model="current"
                        mode="horizontal"
                        @click="menuClick"
                        >

                        <a-menu-item key="drawer">
                            <a-icon
                                class="trigger"
                                :type="collapsed ? 'menu-unfold' : 'menu-fold'"
                                @click="showDrawer"
                                />
                        </a-menu-item>    
                        <a-menu-item key="home">
                            <router-link to="/home">
                                <a-icon type="home" /> Inicio
                            </router-link>
                        </a-menu-item>
                        <a-menu-item key="signin">
                            <router-link to="/signin">
                                <a-icon type="signin" /> Registrarse
                            </router-link>
                        </a-menu-item>
                        <!--                        <a-menu-item key="app" disabled>
                                                    <a-icon type="appstore" />Navigation Two
                                                </a-menu-item>-->
                        <!--                        <a-sub-menu>
                                                    <span slot="title" class="submenu-title-wrapper"><a-icon type="setting" />Navigation Three - Submenu</span>
                                                    <a-menu-item-group title="Item 1">
                                                        <a-menu-item key="setting:1">Option 1</a-menu-item>
                                                        <a-menu-item key="setting:2">Option 2</a-menu-item>
                                                    </a-menu-item-group>
                                                    <a-menu-item-group title="Item 2">
                                                        <a-menu-item key="setting:3">Option 3</a-menu-item>
                                                        <a-menu-item key="setting:4">Option 4</a-menu-item>
                                                    </a-menu-item-group>
                                                </a-sub-menu>-->
                        <!--                        <a-menu-item key="alipay">
                                                    <a href="https://ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
                                                </a-menu-item>-->
                        <a-menu-item key="login">
                            <a-popover
                                title="Login"
                                trigger="click"
                                v-model="loginVisible"
                                >
                                <div slot="content" >
                                    <a-form
                                        id="components-form-demo-normal-login"
                                        :form="form"
                                        class="login-form"
                                        @submit="handleSubmit"
                                        >
                                        <a-input
                                            v-decorator="[
                                                'userName',
                                                { rules: [{ required: true, message: 'Please input your username!' }] }
                                                ]"
                                                placeholder="Username"
                                                >
                                                <a-icon
                                                    slot="prefix"
                                                    type="user"
                                                    style="color: rgba(0,0,0,.25)"
                                                    />
                                            </a-input>
                                        </a-form>

                                        <a-form-item>
                                            <a-input
                                                v-decorator="[
                                                'password',
                                                { rules: [{ required: true, message: 'Please input your Password!' }] }
                                                ]"
                                                type="password"
                                                placeholder="Password"
                                                >
                                                <a-icon
                                                    slot="prefix"
                                                    type="lock"
                                                    style="color: rgba(0,0,0,.25)"
                                                    />
                                            </a-input>
                                        </a-form-item>

                                        <a-form-item>

                                          <a-checkbox
                                            v-decorator="[
                                              'remember',
                                              {
                                                valuePropName: 'checked',
                                                initialValue: true,
                                              },
                                            ]"
                                          >
                                            Remember me
                                          </a-checkbox>
                                          <a class="login-form-forgot" href="">
                                            Forgot password
                                          </a>
                                          <br>
                                          <a-button type="primary" html-type="submit" class="login-form-button" style="width: 100%;">
                                            Log in
                                          </a-button>
                                          <br>
                                          Or
                                          <a href="">
                                            register now!
                                          </a>
                                        </a-form-item>
                                </div>
                                <a-icon @click="hide" type="mail" />Login
                            </a-popover>

                        </a-menu-item>
                    </a-menu>
                </a-layout-header>
                <a-layout-content :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: '280px' }">

                    <router-view></router-view>

                </a-layout-content>
            </a-layout>
        </a-layout>

    </div>
</template>

<script>
    import HelloWorld from './components/HelloWorld.vue'

    export default {
        name: 'app',
        components: {
            HelloWorld
        },
        data() {
            return {
                collapsed: false,
                placement: 'left',
                visible: false,
                loginVisible: false,
                current: ['mail'],
                form: {}
            }
        },
        created() {

            this.$router.push('/home');
        },
        methods: {
            onClose() {
                this.visible = false
            },
            showDrawer() {
                this.visible = true
            },
            menuClick(param) {
                var key = param.key

                if (key == 'login') {
                    console.log('login')
                }
            },
            hide() {
                this.loginVisible = false
            },
            handleSubmit() {

            },
        }
    }
</script>

<style>
    #components-layout-demo-custom-trigger .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
    }

    #components-layout-demo-custom-trigger .trigger:hover {
        color: #1890ff;
    }

    #components-layout-demo-custom-trigger .logo {
        height: 32px;
        background: rgba(255,255,255,.2);
        margin: 16px;
    }
</style>